[user]
    name = streetindustrial
    email = violetred@privacyrequired.com
[http]
    [http "https://github.com/streetindustrial"]
        proxy = http://localhost:9050
[core]
    excludefile = ~/.gitignore_global
    attributesfile = ~/.gitattributes
    editor = vim
    whitespace = fix,-indent-with-non-tab,
[help]
    autocorrect = 1
[color]
    ui = true
[color "branch"]
    current = green bold
    remote = red bold
[color "diff"]
    meta = yellow bold
    commit = green bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "status"]
    added = green bold
    changed = red bold
    untracked = red bold
[github]
    user = streetindustrial
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[push]
    default = simple
[merge]
    tool = vimdiff
[mergetool]
    keepBackup = false
[alias]
    lg = !"git lg1"
    lg1 = !"git lg1-specific --all"
    lg2 = !"git lg2-specific --all"
    lg3 = !"git lg3-specific --all"
    lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)
